<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waterfairy.fileselector">

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".SelectFileActivity"
            android:screenOrientation="behind">
        </activity>
    </application>

</manifest>