<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waterfairy.fileselector">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".TestActivity">

        </activity>
        <activity
            android:name=".FileSelectActivity"
            android:label="@string/file_selector_title"
            android:screenOrientation="behind"
            android:theme="@style/FileSelectorAppTheme" />
    </application>

</manifest>